%cf{
    zoom:1;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

%clearLinkLine{
    &:link, &:visited, &:hover, &:focus, &:active {
        text-decoration: none;
    }
}
%ir {
    // need to set width and height
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
