include /mixin/_scripts
include /mixin/_favicon
include /mixin/meta/_ogp
include /mixin/meta/_viewport
include /mixin/meta/_basicInfo
include /mixin/_googleAnalytics
//- include /mixin/_dnsPrefetch
extends /extends/_application.jade

block title
    title
block viewport
    +viewport({ type: 'dw'})
block meta
    +basicInfo({})
    +ogp({})
    +favicon({url: 'favicon.ico'})
    //- dnsPrefetch(['',''])
block css
    link(rel='stylesheet', href='styles/main.css')


block body

    .content
        .viewport

    +ga({id: '', domain: ''})

block vendorScripts
    +scripts(scripts.vendor)
block appScripts
    +scripts(scripts.app)
